NEXT_PUBLIC_DEMO=1
NEXT_PUBLIC_CHAIN=bscTestnet
NEXT_PUBLIC_WC_PROJECT_ID=your_walletconnect_project_id
NEXT_PUBLIC_RPC_URL=https://bsc-testnet.publicnode.com
NEXT_PUBLIC_CONTRACT_ADDRESS=0xc6Dd26D3eE0F58fAb15Dc87bEe3A66896B6D4127

# Gasless Transactions (Optional - for production)
# Get from: https://www.pimlico.io or https://www.biconomy.io
NEXT_PUBLIC_PAYMASTER_URL=